body {
    background: #212529;
    color: white;
}

.navbar {
    background: #2f353a;
}

.food-card {
    background: #2f353a;
    color: white;
    border: none;
    border-radius: 15px;
    transition: 0.3s;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.food-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.food-img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-order {
    border-radius: 20px;
}

.cart-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50px;
    padding: 12px 18px;
}