body {
    background-color: #0f172a;
    font-family: 'Segoe UI', sans-serif;
}
/* Sidebar */
.sidebar {
    background-color: #020617;
}

.sidebar .nav-item {
    color: #cbd5e1;
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
    transition: background 0.3s, color 0.3s;
}

/* Hover effect for ALL items */
.sidebar .nav-item:hover {
    background-color: #1e293b;
    color: #ffffff;
}

/* Active (current page) */
.sidebar .nav-item.active {
    background-color: #334155;
    color: #ffffff;
}

/* Main Content */
.main-content {
    background-color: #020617;
}

/* Summary Cards */
.summary-card {
    background-color: #1e293b;
    color: white;
    border-radius: 15px;
    border: none;
}

/* Table Card */
.table-card {
    background-color: #1e293b;
    color: white;
    border-radius: 15px;
    border: none;
}
